/**
*/

*,
*::before,
*::after {
    box-sizing: inherit;
    border-color: transparent;
    border-width: 0px;
    box-shadow: none;
    outline: none !important;
    -webkit-appearance: none;
}
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

