*,
*::before,
*::after {
    box-sizing: border-box;
    border-color: transparent;
    border-width: 0px;
    box-shadow: none;
    outline: none !important;
    -webkit-appearance: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

:root {
    --h1-height: 2.5rem;
    --h2-height: 1.8rem;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

section {
    padding: 1rem 0;
}

h5 {
    font-size: var(--h2-height);
    margin: 0;
    padding: 0;
    font-weight: 100;
}


/**
*************
auxilliary
************
**/

.flex {
    display: flex;
}

.flex.jc-sb {
    justify-content: space-between;
}

.flex.jc-se {
    justify-content: space-evenly;
}

.flex.jc-c {
    justify-content: center
}

.flex.ai-c {
    align-items: center;
}

.container {
    position: relative;
    margin: 0 auto;
}

.container-py {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-px {
    padding-left: 1rem;
    padding-right: 1rem;
}


/**
*************
header
*************
**/

header {
    background-color: #fff;
}

.header__hamburger>span {
    display: block;
    width: 27px;
    height: 3px;
    background-color: black;
    margin-bottom: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header__hamburger>span:not(:last-child) {
    margin-bottom: 5px;
}

header.is-active .header__hamburger span:nth-child(1) {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

header.is-active .header__hamburger span:nth-child(3) {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

header.container {
    padding-top: 0;
}

header .container {
    position: relative;
    background-color: white;
    z-index: 3;
    padding-top: .75rem;
}

header a, header button {
    color: black;
    font-size: var(--h2-height);
    display: block;
}

#hidden {
    display: none;
}

#hidden>* {
    font-size: 1rem;
}

#hidden a img {
    height: 1rem;
    margin-right: 1rem;
}


/**
*************
odabir
*************
**/

.korisnik__odabir {
    padding: 1rem;
    background-color: blue;
}

ol {
    list-style: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    display: block;
    counter-increment: item;
    margin-bottom: 5px;
}

li:nth-child(1) {
    padding-bottom: 1rem;
}

li:before {
    margin-right: 10px;
    content: counter(item);
    background: white;
    border-radius: 100%;
    color: blue;
    font-weight: 1000;
    width: 1.5rem;
    text-align: center;
    display: inline-block;
}

input[type=text],
input[type=password],
select {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #23608b;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
}

input[type=text]:focus,
input[type=password]:focus,
select:focus {
    border: 1px solid #002233;
}


/* nav {
    width: 100%;
} */

form button, input[type=button],
input[type=submit],
input[type=reset] {
    background-color: white;
    border: none;
    color: black;
    font-size: 1rem;
    padding: .5rem .75rem;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #23608b;
    border-radius: 3px;
}